$primary-color: #fff;
$secondary-color: #231f20;
$link-color: #000000;
$link-hover-color: #ff0000;
$side-menu-bg-color: #fff;
$side-menu-hover-bg-color: #dfdfdf;
$tiny-grey: $side-menu-hover-bg-color; 
$fnd-grey:#231f20;
$fnd-red: #a6352f;
$green: #008000;
$orange:#ffa500;
$yellow:#ffff00;